#!/bin/bash

urxvtd -f
redshift &

{{ x_scripts_dir }}/screen.sh left

feh --bg-fill --randomize wallpaper/current/

{{ x_scripts_dir }}/keyboardlayout.sh

{% if x_enable_autolock %}
{{ x_scripts_dir }}/autolock.sh enable
{% endif %}

dbus-update-activation-environment --systemd DISPLAY
eval $(gnome-keyring-daemon --start --components=ssh,gpg)
export GPG_AGENT_INFO SSH_AUTH_SOCK

xsetroot -cursor_name left_ptr
compton -b

trayer --align right --edge bottom --widthtype request --height 20 \
    --transparent true --tint 0x00000000

exec /usr/bin/xmonad
