#!/bin/bash

urxvtd -f
redshift &

/home/bfiedler/.bin/screen.sh left

feh --bg-fill --randomize wallpaper/current/

/home/bfiedler/.bin/keyboardlayout.sh

{% if x_enable_autolock %}
/home/bfiedler/.bin/manage-lock.sh enable-autolock
{% endif %}

xsetroot -cursor_name left_ptr
compton -b

exec /usr/bin/xmonad
